Data/Web References/Other/Other.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Obat">
        <s:complexType />
      </s:element>
      <s:element name="ObatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObatResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Terapi">
        <s:complexType />
      </s:element>
      <s:element name="TerapiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerapiResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pasien">
        <s:complexType />
      </s:element>
      <s:element name="PasienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PasienResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nama" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObatSoapIn">
    <wsdl:part name="parameters" element="tns:Obat" />
  </wsdl:message>
  <wsdl:message name="ObatSoapOut">
    <wsdl:part name="parameters" element="tns:ObatResponse" />
  </wsdl:message>
  <wsdl:message name="TerapiSoapIn">
    <wsdl:part name="parameters" element="tns:Terapi" />
  </wsdl:message>
  <wsdl:message name="TerapiSoapOut">
    <wsdl:part name="parameters" element="tns:TerapiResponse" />
  </wsdl:message>
  <wsdl:message name="PasienSoapIn">
    <wsdl:part name="parameters" element="tns:Pasien" />
  </wsdl:message>
  <wsdl:message name="PasienSoapOut">
    <wsdl:part name="parameters" element="tns:PasienResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="OtherServiceSoap">
    <wsdl:operation name="Obat">
      <wsdl:input message="tns:ObatSoapIn" />
      <wsdl:output message="tns:ObatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Terapi">
      <wsdl:input message="tns:TerapiSoapIn" />
      <wsdl:output message="tns:TerapiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pasien">
      <wsdl:input message="tns:PasienSoapIn" />
      <wsdl:output message="tns:PasienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OtherServiceSoap" type="tns:OtherServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obat">
      <soap:operation soapAction="http://tempuri.org/Obat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Terapi">
      <soap:operation soapAction="http://tempuri.org/Terapi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pasien">
      <soap:operation soapAction="http://tempuri.org/Pasien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OtherServiceSoap12" type="tns:OtherServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obat">
      <soap12:operation soapAction="http://tempuri.org/Obat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Terapi">
      <soap12:operation soapAction="http://tempuri.org/Terapi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pasien">
      <soap12:operation soapAction="http://tempuri.org/Pasien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OtherService">
    <wsdl:port name="OtherServiceSoap" binding="tns:OtherServiceSoap">
      <soap:address location="http://localhost:30244/Service/Other.asmx" />
    </wsdl:port>
    <wsdl:port name="OtherServiceSoap12" binding="tns:OtherServiceSoap12">
      <soap12:address location="http://localhost:30244/Service/Other.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>